<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Web site created using create-react-app" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
    </style>
    
    <link rel="stylesheet" href="/css/style.css">
    <title>React App</title>
</head>

<body>

    <div id="root">

        <div className="home">

            <div className="navbar">
                <div className="container">
                    <div className="left">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/2560px-Netflix_2015_logo.svg.png"
                            alt="" />
                        <span>Homepage</span>
                        <span>Movies</span>
                        <span>Series</span>
                        <span>New And Popular</span>
                        <span>My List</span>
                    </div>
                    <div className="right">
                        <Search className="icon" />
                        <span>KID</span>
                        <Notifications className="icon" />
                        <img src="https://images.pexels.com/photos/6899260/pexels-photo-6899260.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                            alt="" />
                        <div className="profile">
                            <ArrowDropDown className="icon" />
                            <div className="options">
                                <span>Settings</span>
                                <span>Log out</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <img width="100%"
                src="https://images.pexels.com/photos/6899260/pexels-photo-6899260.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" />

        </div>
    </div>

 
</body>